.accountPageWrapper {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background: #d2ddd8;
}

.boardsWrapper {
    justify-content: center;
    align-items: center;
    gap: 25px;
    display: flex;
}

.accountPage {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    gap: 50px;
}
