.cardSection {
    display: flex;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.offerSectionTitle {
    padding: 40px;
    color: #122034;
    font-size: 32px;
}
