.button {
    background: none;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.buttonWithBorder {
    color: #e6ede9;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    background: #c32439;
    border: 1px solid black;
}

.buttonWithBorder:hover {
    box-shadow: 1px 1px 1px black;
}
